.firstContent {
  padding: 0 0.32rem 2.60rem;

  .userTitle {
    padding: .24rem 0 0.12rem;
    font-size: .24rem;
    font-family: Roboto-Medium;
    font-weight: bold;
    color: #333333;
    line-height: .32rem;
  }

  .userCard {
    height: 1.23rem;
    background-color: #FFFFFF;
    border-radius: 0.16rem;
    padding: 0.16rem 0.24rem;
    margin-bottom: 0.12rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    .userAvatar {
      width: 0.58rem;
      height: 0.58rem;
      border-radius: 50%;
    }

    .userRight {
      flex: 1;
      padding-left: 0.15rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .userIntro {
        display: flex;
        flex-direction: column;

        .userName {
          font-family: Roboto-Medium;
          font-weight: bold;
          font-size: 0.28rem;
          color: rgba(51, 51, 51, 0.9);
          line-height: 0.4rem;
          margin-bottom: 0.08rem;
        }

        .userId {
          font-weight: 400;
          font-size: 0.24rem;
          color: #999999;
          line-height: .32rem;
        }
      }

      .switchBtn {
        font-weight: 400;
        font-size: 0.24rem;
        color: #999999;
        display: flex;
        align-items: center;
        flex-direction: row;

        .switchIcon {
          width: 0.16rem;
          height: 0.24rem;
          margin-left: 0.08rem;
        }
      }
    }
  }

  .mainIntro {
    padding: .24rem 0;
    font-size: .24rem;
    font-weight: 400;
    color: #999999;
    line-height: .32rem;
  }

  .mainLabel {
    font-family: Roboto-Medium;
    padding: .16rem 0 0.24rem;
    font-size: .24rem;
    font-weight: bold;
    color: #333333;
    line-height: .32rem;
  }

  .mainList {

    .listItem {
      width: 100%;
      padding: 0.24rem;
      border-radius: 0.16rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 0.17rem;
      margin-bottom: 0.24rem;
      background-color: #FFFFFF;

      .listItemIcon {
        width: 0.56rem;
        height: 0.56rem;
        color: transparent;
      }

      .itemBox {
        flex: 1;

        h4 {
          font-family: Roboto-Medium;
          font-size: .28rem;
          font-weight: bold;
          color: #333333;
          line-height: .4rem;
          opacity: 0.9;
        }

        .itemTxt {
          margin-top: .08rem;
          font-size: .24rem;
          font-weight: 400;
          color: #333333;
          line-height: .34rem;
          opacity: 0.9;
        }
      }
    }
  }
}

.firstFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 2.08rem;
  background-color: #FFFFFF;
  border-top: 1px solid rgba(255, 255, 255, 0.08);

  .footerHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 0.32rem;
    height: 0.88rem;
    column-gap: 0.08rem;

    img {
      width: 0.33rem;
      height: 0.33rem;
    }

    p {
      margin-left: 0.08rem;
      font-size: 0.24rem;
      font-weight: 400;
      color: #999999;
      line-height: 0.32rem;
    }
  }
}
